h1{
    text-align: center;
    font-family:sans-serif;
}
.bar{
    margin: auto;
    width: 40%;
    float: left;
}

.button{
    color: blue;
    background-color: aliceblue;
    height: 100px;
    width: 300px;

}
.bar .button:hover {
    background-color: #666;
    cursor: pointer;


}
body{
    background:url(pizza.png);
    background-size: cover;
    
}
body h2{
    font-weight: bold;
    float: left;
    font-size: 30px;
    color: blue;
    margin-top: 2%;
}
body p{
    color: aquamarine;
    font-size: 35px;
}

.top-wrapper{
    display: inline-block;
    text-align: left;
    max-width: 960px;
    margin: auto;
    padding: 0 1.8rem;
    height: 100px;
}
.container{
    margin:150px auto;
    width: 50%;
    padding: 8px;
    float: left;
    border: 4px blue;
}
.img{
    float: left;
    width: 300px;
    height: 260px;
    border: solid black 1px;
    padding:0 10px 0 0;
    margin-bottom: 5%;
    margin-right: 4%;
}
.text{
    text-align: justify;
    font-size: 25px;
    margin-left: 5%;
}

.outer-wrapper {
	background-color: transparent;
	padding: 6%;
	padding-bottom: 92px;
    margin-top: 5%;
    text-align: center;
    height: 5px;
    width: 150px;
    float: right
	
}
body .container .p{
    text-align: center;
    color: aliceblue;
}


#footer{
    bottom: 0;
    width: 100%;
    text-align: center;
    position:fixed;
    height: 2.5rem;
}

<---------------------------------Contacts page----------------------------------->
@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&dispplay=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:url(pizza.png);
    background-size: cover;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;

}
.contact .content p{
    font-weight: 300;
    color: #fff;
}
.ccontainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.ccontainer .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.ccontainer .contactInfo .box {
    position :relative;
    padding: 20px 0;
    display: flex;
}
.ccontainer .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.ccontainer .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.ccontainer .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm ,.
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox textarea,
.contactForm .inputBox input {
    width:100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid#333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    right: 15%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition:0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media(max-width:991px) {
    .contact{
        padding: 50px;
    }
    .ccontainer{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo{
        width: 100%;
    }
}

<____--------------------------------------pizza2 --------------------------------------------->
.box3{
    width: 1000px;
    height: 800px;
    background-color: #00bcd4;

}
.box4{ 
    width: 700px;
    height: 550px;
    background-color: darkcyan;
    text-align: center;


}